body {
  font-family: sans-serif;
  margin: 40px;
}

main {
  max-width: 700px;
  margin: auto;
}

#searchInput {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

#suggestions {
  margin-top: 5px;
  margin-bottom: 15px;
}

.suggestion-item {
  padding: 10px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}
